
/****** Object:  StoredProcedure [dbo].[gp_QueryLoanNoBack]    Script Date: 06/26/2026 20:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER procedure [dbo].[gp_QueryLoanNoBack]
  @BTypeID cttypeid,
  @PTypeID cttypeid,
  @BeginDate ctdate,
  @EndDate ctDate,
  @ETypeID cttypeid,
  @LoginUserRec ctid
as
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
DECLARE @Erec ctInt
SELECT @Erec=REC FROM dbo.employee WHERE typeId=@ETypeID
    --供应商作废以后，商品都不显示
    CREATE TABLE #delBType ( rec INT );
     INSERT INTO #delBType (rec)    SELECT rec    FROM dbo.btype WHERE deleted=3
			select  c.BillID,b.BillType,b.BillE,	k.typeId btypeid,	s.FullName kname,			
				b.BillCode,b.BillDate
				   ,saletype,outtype,yy.fullname yyname, SUM(c.AssQty) AssQty,SUM(ISNULL(c.BackQty/c.UnitRate,0)) BackQty, SUM(c.AssQty-ISNULL(c.BackQty/c.UnitRate,0)) nobackQty
				   ,DATEDIFF(day,b.BillDate,  GETDATE())+1 AS LoanDays  
			from  vBillIndex b join  CommissionBill c  on b.BillID=c.BillID  AND c.ProviderId NOT IN (SELECT rec FROM #delBType)
				  inner   JOIN dbo.btype k ON b.BRec=k.Rec AND k.deleted=0
					LEFT join btype yy on b.yybrec=yy.rec
					left join Stock s on s.Rec=b.KRec
				  join fn_PTypeRight(@LoginUserRec) p on c.PRec=p.rec and (@PTypeID='' or p.typeId like @PTypeID+'%')
				  join fn_BTypeRight(@LoginUserRec) bt on b.BRec=bt.rec and (@BTypeID='' or bt.typeId like @bTypeID+'%')				  
				 
				  
				  		   
			where b.BillDate between @BeginDate and @EndDate
				and b.draft=0 and b.RedWord=0
				and b.BillType=501 and p.deleted IN ( 0,98)
				AND (@ETypeID='' OR b.ERec=@Erec)
				AND c.BackQty<c.AssQty*c.UnitRate
			GROUP BY c.BillID,b.BillType,b.BillE,					
				b.BillCode,b.BillDate,k.typeId
				   ,saletype,outtype,yy.fullname ,s.FullName  
	 
  
		DROP TABLE #delBType		 
-----------------------------------------------------------------------------
delete conQueryInfoList where ModuleID = 1104
GO
delete conCondtionList where ModuleID = 1104
GO
delete TFieldDefaultSet where ModuleID = 1104
GO
delete conBaseInfoSet where ModuleID = 1104
GO
delete QueryFilterCondConfig where ModuleID = 1104
GO
----未回单据查询----
insert into  conQueryInfoList(ModuleID,QueryName,PrintName,ProcName,LimitType,Version,Visible,IsUse,ProcParams,ProcParamsValue,ProcParamsType,DataType,HelpItem,PropValue) values(1104,'未回单据查询','未回单据查询.RWX','gp_QueryLoanNoBack',0,255,1,1,'@BTypeID,@PTypeID,@BeginDate,@EndDate,@LoginUserRec','','',1,'','')
Go
insert into  conCondtionList(ModuleID,DataType,CondtionName,DisplayName,OrderIndex,OtherInfo,ConditionVisible,ShowVisible,MustField) values(1104,1,'@PTypeID','商品',0,'一类;全部',1,1,0)
Go
insert into  conCondtionList(ModuleID,DataType,CondtionName,DisplayName,OrderIndex,OtherInfo,ConditionVisible,ShowVisible,MustField) values(1104,2,'@BTypeID','往来单位',0,'一类;全部',1,1,0)
Go
insert into  conCondtionList(ModuleID,DataType,CondtionName,DisplayName,OrderIndex,OtherInfo,ConditionVisible,ShowVisible,MustField) values(1104,17,'@BeginDate,@EndDate','查询日期,至',0,'',1,1,0)
Go
insert into  TFieldDefaultSet(ModuleID,DisplayName,FieldName,DataType,Expression,LimitType,Version, OrderIndex,Visible,IsUse,EditFlag,Defaultwidth,ShowTotal) values(1104,'','',2,'',0,255,1,1,1,0,60,0)
Go
insert into  TFieldDefaultSet(ModuleID,DisplayName,FieldName,DataType,Expression,LimitType,Version, OrderIndex,Visible,IsUse,EditFlag,Defaultwidth,ShowTotal) values(1104,'借出单号','BillCode',16,'',0,255,3,1,1,0,60,0)
Go
insert into  TFieldDefaultSet(ModuleID,DisplayName,FieldName,DataType,Expression,LimitType,Version, OrderIndex,Visible,IsUse,EditFlag,Defaultwidth,ShowTotal) values(1104,'借出日期','BillDate',17,'',0,255,4,1,1,0,60,0)
Go
Go